<!DOCTYPE html>

<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->

<!-- Head BEGIN -->
<head>
    <meta charset="utf-8">
    <title>稻米粒--首页</title>

    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <meta content="Metronic Shop UI description" name="description">
    <meta content="Metronic Shop UI keywords" name="keywords">
    <meta content="keenthemes" name="author">

    <meta property="og:site_name" content="-CUSTOMER VALUE-">
    <meta property="og:title" content="-CUSTOMER VALUE-">
    <meta property="og:description" content="-CUSTOMER VALUE-">
    <meta property="og:type" content="website">
    <meta property="og:image" content="-CUSTOMER VALUE-"><!-- link to image for socio -->
    <meta property="og:url" content="-CUSTOMER VALUE-">

    <link rel="shortcut icon" href="favicon.ico">
    <!-- Fonts START -->
    <link href="/stylesheets/fonts.googleapis.com.css" rel="stylesheet" type="text/css">
    <!-- Fonts END -->
    <!-- Global styles BEGIN -->
    <link href="/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/assets/global/plugins/slider-revolution-slider/rs-plugin/css/settings.css" rel="stylesheet">
    <!-- Global styles END -->
    <!-- Page level plugin styles BEGIN -->
    <link href="/assets/global/plugins/fancybox/source/jquery.fancybox.css" rel="stylesheet">
    <!-- Page level plugin styles END -->
    <!-- Theme styles BEGIN -->
    <link href="/assets/global/css/components.css" rel="stylesheet">
    <link href="/assets/global/css/plugins.css" rel="stylesheet" type="text/css">

    <link href="/assets/frontend/onepage/css/style.css" rel="stylesheet">
    <link href="/assets/frontend/onepage/css/style-responsive.css" rel="stylesheet">
    <link href="/assets/frontend/onepage/css/themes/blue.css" rel="stylesheet" id="style-color">
    <link href="/assets/frontend/onepage/css/custom.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/assets/global/plugins/bootstrap-datepicker/css/datepicker3.css"/>
    <link href="/assets/global/plugins/bootstrap-select/bootstrap-select.css" rel="stylesheet">

    <!-- Theme styles END -->
    <style>
        .btn-lg {
            padding: 10px 16px !important;
            font-size: 18px;
            line-height: 1.3333333;
            border-radius: 6px !important;
        }
        .dropdown-menu {
            border-radius: 4px !important;
        }
        .btn-default {
            background: white;
            color: #000;
        }
        .btn-default:hover,
        .btn-default:focus,
        .btn-default:active {
            border: 1px solid #A8AEB3;
            color: #000;
            background: #64AED9;
            padding: 6px 13px;
        }
        .btn-default > i {
            color: #000;
        }
        .input-lg {
            height: 46px !important;
        }
        .header-navigation {
            font-size: 14px;
        }
        .noborder {
            border: 0;
        }
        .noborder:hover,
        .noborder:focus,
        .noborder:active{
            background: transparent;
        }
        .info_ {
            margin-top: 200px;
            font-size: 20px;
            font-weight: 900;
            padding: 5px;
            text-align: right;
            display: inline-block;
            width: 624px;
        }
        .searchDiv {
            background-color: #F6F6F6;
            padding: 20px;
            display: inline-block;
            border-radius: 6px !important;
            margin-bottom: 265px
        }
    </style>
    <script src="/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
</head>
<!--DOC: menu-always-on-top class to the body element to set menu on top -->
<body>
<!-- Header BEGIN -->
<div class="header header-mobi-ext fixNav">
    <div class="container">
        <div class="row">
            <!-- Logo BEGIN -->
            <div class="col-md-2 col-sm-2">
                <a class="scroll" href="#about" style="float: left;padding-top: 5px"><img src="/images/logo.png" alt="Metronic One Page"></a>
            </div>

            <!-- Logo END -->
            <a href="javascript:void(0);" class="mobi-toggler"><i class="fa fa-bars"></i></a>
            <!-- Navigation BEGIN -->
            <div class="col-md-4" style="margin-top: 10px; border-left: 1px #5C5C5C solid">
                <div class="btn-group">
                    <button class="btn btn-default btn-sm dropdown-toggle noborder" style="border: 0" type="button" data-toggle="dropdown" aria-expanded="false">
                        广州 <i class="fa fa-angle-down"></i>
                    </button>
                    <ul class="dropdown-menu" role="menu" style="min-width: 68px">
                        <li>
                            <a href="javascript:;">
                                广州 </a>
                        </li>
                    </ul>
                </div>
                <div class="btn-group">
                    <div class="tabbable-line">
                        <ul class="nav nav-tabs ">
                            <li class="active">
                                <a href="#tab_15_1" data-toggle="tab">
                                    首页 </a>
                            </li>
                            <li>
                                <a href="#tab_15_2" data-toggle="tab">
                                    开放项目 </a>
                            </li>
                            <li>
                                <a href="#" data-toggle="" href="#" onclick="showEntrustDialog();">
                                    企业委托 </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6 pull-right">
                <ul class="header-navigation">
                    <!--<li class="current"><a href="#about">About</a></li>
                    <li><a href="#services">Services</a></li>
                    <li><a href="#team">Team</a></li>
                    <li><a href="#portfolio">Portfolio</a></li>
                    <li><a href="#benefits">Benefits</a></li>
                    <li><a href="#prices">Pricing</a></li>-->
                    <li><a data-toggle="modal" href="javascript:showDialog();"><i class="fa fa-user"></i>注册/登录</a></li>
                    <li><a href="#"><i class="fa fa-list-alt"></i>报名清单</a></li>
                </ul>
            </div>
            <!-- Navigation END -->
        </div>
    </div>
</div>