
<div class="modal fade" id="registeredDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">用户注册</h4>
            </div>
            <div class="modal-body">

                <form class="form-horizontal margin-bottom-40" method="post" role="form" id="registeredForm" action="">
                    <div class="alert alert-danger display-hide">
                        <button class="close" data-close="alert"></button>
                        <p id="errorP">您的注册信息有误，请检查！</p>
                    </div>
                    <div class="alert alert-success display-hide">
                        <button class="close" data-close="alert"></button>
                        <p id="successP">Your form validation is successful!</p>
                    </div>

                    <div class="form-group form-md-line-input">
                        <label for="mobile" class="col-md-3 control-label">手机</label>
                        <div class="col-md-6">
                            <div class="input-icon right">
                                <i class="fa"></i>
                                <input type="text" class="form-control" id="mobile" name="MOBILE" placeholder="" maxlength="11" >
                                <span class="help-block">请正确输入11位的手机号码</span>
                                <div class="form-control-focus">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group form-md-line-input">
                        <label for="password" class="col-md-3 control-label">密码</label>
                        <div class="col-md-6">
                            <div class="input-icon right">
                                <i class="fa"></i>
                                <input type="password" class="form-control" id="password" name="PASSWORD" placeholder="" maxlength="16" >
                                <span class="help-block">6~16个字符，区分大小写</span>
                                <div class="form-control-focus">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group form-md-line-input">
                        <label for="password2" class="col-md-3 control-label">确认密码</label>
                        <div class="col-md-6">
                            <div class="input-icon right">
                                <i class="fa"></i>
                                <input type="password" class="form-control" id="password2" name="PASSWORD2" placeholder="" maxlength="16" >
                                <span class="help-block">请再次填写密码</span>
                                <div class="form-control-focus">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group form-md-line-input">
                        <label for="age" class="col-md-3 control-label">年龄段</label>
                        <div class="col-md-6">
                            <select class="form-control" id="age" name="AGE">
                                <option value="18-25" selected>18-25</option>
                                <option value="26-30">26-30</option>
                                <option value="31-35">31-35</option>
                                <option value="36-40">36-40</option>
                                <option value="41-45">41-45</option>
                                <option value="46-50">46-50</option>
                                <option value="51-55">51-55</option>
                                <option value="56-60">56-60</option>
                                <option value="61-65">61-65</option>
                                <option value="66-70">66-70</option>
                                <option value="71-75">71-75</option>
                                <option value="75-80">75-80</option>
                            </select>
                            <span class="help-block">请正确填写，以便推荐任务</span>
                            <div class="form-control-focus">
                            </div>
                        </div>
                    </div>

                    <div class="form-group form-md-radios">
                        <label for="sex" class="col-md-3 control-label">性别</label>
                        <div class="md-radio-inline col-md-3">
                            <div class="md-radio">
                                <input type="radio" id="sex1" name="SEX" class="md-radiobtn">
                                <label for="sex1">
                                    <span></span>
                                    <span class="check"></span>
                                    <span class="box"></span>
                                    男 </label>
                            </div>
                            <div class="md-radio has-error ">
                                <input type="radio" id="sex2" name="SEX" class="md-radiobtn" checked>
                                <label for="sex2">
                                    <span></span>
                                    <span class="check"></span>
                                    <span class="box"></span>
                                    女 </label>
                            </div>
                        </div>
                    </div>

                </form>

            </div>
            <div class="modal-footer">
                <button type="submit" class="btn blue" id="registeredBtn">注册</button>
                <button type="button" class="btn default" data-dismiss="modal">取消</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<% include common.ejs %>

<script type="text/javascript" src="/assets/global/plugins/jquery-validation/js/jquery.validate.min.js"></script>
<script type="text/javascript" src="/assets/global/plugins/jquery-validation/js/additional-methods.min.js"></script>

<script>
    jQuery(document).ready(function() {
        registeredValidation();
    });
    function showRegisteredDialog(){
        $('#registeredDialog #registeredForm')[0].reset();
        $('#registeredDialog').modal("show");
    }

    $('#registeredDialog #registeredBtn').click(function(event) {
        //手机验证
//        if($('#registeredForm').valid( )==false)
//            return;

        var validation = true;
        if($('#registeredForm #mobile').val()==null || $('#registeredForm #mobile').val().trim()==''){
            $('#registeredForm #mobile').focus();
            $('.alert-danger').show();
            $('#errorP').html("手机号码不能为空!");
//            notific8(this,"手机号码不能为空!",3000);
            return;
        }
        if($('#registeredForm #mobile').val().length != 11){
            $('#registeredForm #mobile').focus();
            $('.alert-danger').show();
            $('#errorP').html("请填写11位的手机号码!");
//            notific8(this,"请填写11位的手机号码!",3000);
            return;
        }
        var myreg = /^(((13[0-9]{1})|159|153)+\d{8})$/;
        if(!myreg.test($('#registeredForm #mobile').val()))
        {
            $('#mobile').focus();
            $('.alert-danger').show();
            $('#errorP').html("请输入有效的11位手机号码!");
//            notific8(this,'请输入有效的11位手机号码！',3000);
            return;
        }
        //密码验证
        if($('#registeredForm #password').val()==null || $('#registeredForm #password').val().trim()==''){
            $('#registeredForm #password').focus();
            $('.alert-danger').show();
            $('#errorP').html("密码不能为空!");
//            notific8(this,"密码不能为空!",3000);
            return;
        }
        if($('#registeredForm #password').val().length < 6 || $('#registeredForm #password').val().length > 16){
            $('#registeredForm #password').focus();
            $('.alert-danger').show();
            $('#errorP').html("密码为6~16个字符!");
//            notific8(this,"密码为6~16个字符!",3000);
            return;
        }
        if($('#registeredForm #password').val() != $('#registeredForm #password2').val()){
            $('#registeredForm #password2').focus();
            $('.alert-danger').show();
            $('#errorP').html("两次填写的密码不一致!");
//            notific8(this,"两次填写的密码不一致",3000);
            return;
        }else{
            $.ajax({
                url : "/users/mobile",
                method:"post",
                data : {
                    mobile:$('#registeredForm #mobile').val()
                },
                success : function(data){
                    console.log(data);
                    if(data>0){
                        $('#registeredForm #mobile').focus();
                        $('.alert-danger').show();
                        $('#errorP').html("此手机号码已经存在!");
//                        notific8(this,"此手机号码已经存在!",3000);
                        return;
                    }else{
                        var sex = '女';
                        if($('#registeredForm #sex1:checked').val()=='on')
                            sex = '男';
                        var options = {
                            url: "/users/registered",
                            dataType: 'json',
                            data: {sex: sex}, success: function (data) {
                                $('.alert-danger').hide();
                                $('#registeredDialog').modal("hide");
//                                $('#successP').html("恭喜您注册成功!");
                                notific8(this,"恭喜您注册成功！",3000);
                            }
                        };
                        $('#registeredForm').ajaxSubmit(options);
                    }
                }
            });
        }
    });


    var registeredValidation = function() {
        var form2 = $('#registeredForm');

        var error2 = $('.alert-danger', form2);
        var success2 = $('.alert-success', form2);

        form2.validate({
            errorElement: 'span', //default input error message container
            errorClass: 'help-block help-block-error', // default input error message class
            focusInvalid: false, // do not focus the last invalid input
            ignore: "",  // validate all fields including form hidden input
            rules: {
                MOBILE: {
                    rangelength: [11,11],
                    number:true,
                    required: true
                },
                PASSWORD: {
                    rangelength: [6,16],
                    required: true
                },
                PASSWORD2: {
                    rangelength: [6,16],
                    equalTo: "#password",
                    required: true
                }
            },
            invalidHandler: function (event, validator) { //display error alert on form submit
                error2.show();
//                Metronic.scrollTo(error2, -200);
            },
            errorPlacement: function (error, element) { // render error placement for each input type
                var icon = $(element).parent('.input-icon').children('i');
                icon.removeClass('fa-check').addClass("fa-warning");
                icon.attr("data-original-title", error.text()).tooltip({'container': 'body'});
            },
            highlight: function (element) { // hightlight error inputs
                $(element)
                        .closest('.form-group').removeClass("has-success").addClass('has-error'); // set error class to the control group
            },
            unhighlight: function (element) { // revert the change done by hightlight

            },
            success: function (label, element) {
                var icon = $(element).parent('.input-icon').children('i');
                $(element).closest('.form-group').removeClass('has-error').addClass('has-success'); // set success class to the control group
                icon.removeClass("fa-warning").addClass("fa-check");
            },
            submitHandler: function (form) {
                success2.show();
                error2.hide();
                form[0].submit(); // submit the form
            }
        });
    }
</script>